<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
    >
   <bean name="triangle" class="ro.catalin.model.Triangle">
   	<property name="name" value="triangle name"></property>
   </bean>
   <bean name="circle" class="ro.catalin.model.Circle">
   <property name="name" value="circle name"></property>
   </bean>
  <bean name="shapeService" class="ro.catalin.service.ShapeService" autowire="byName">
  	
  </bean>

<aop:aspectj-autoproxy/>
<bean name="loggingAspect" class="ro.catalin.aspect.LoggingAspect">

</bean>

<aop:config>
	<aop:aspect id="loggingAspect" ref="loggingAspect">
		<aop:pointcut id="allGetters"
		 expression="within(ro.catalin.model.Circle)"/>
	<aop:around method="myAroundAdvice" pointcut-ref="allGetters"/>
<!--<aop:before method="" arg-names=""/>
	  -->	</aop:aspect>
</aop:config>
</beans>